###
### PCI interfaces
###
interfaces {
  {% for ifd in PCI_ports %}
  {% set ifd_units = PCI_ports[ifd] %}
  
  {{ ifd }} { 
    vlan-tagging;
{% for unit in ifd_units %}
    unit {{ unit.v }} {
{%- if unit.d %}  
      description "{{ unit.d }}"; 
{%- endif %} 
      vlan-id {{ unit.v }};
      family inet {
        address {{ unit.a }};
      }
    } 
{% endfor %}    
  } 
{% endfor %}  
}
