aggregated-devices {
    ethernet {
        device-count 1;
    }
}
interfaces {
{% for ifs in POS_ports %}
   {{ ifs }} {
      description "Point-of-Sale interface";
      unit 0 {
         family ethernet-switching;
      }
   }
{% endfor %}
{% for ifs in Public_Wifi_ports  %}
   {{ ifs }} {
      description "PUBLIC Wifi interface";
      unit 0 {
         family ethernet-switching {
            vlan {
               members [ Public_Wifi ]
            }
         }
      }
   }
{% endfor %}
{% for ifs in Private_Wifi_ports  %}
   {{ ifs }} {
      description "Private Wifi interface";
      unit 0 {
         family ethernet-switching; 
      }
   }
{% endfor %}
   {{ Uplink_Bundle.name }} {
      description "Uplink Bundle to Firewall";
      unit 0 {
         family ethernet-switching;
      }
   }
{% for ifs in Uplink_Bundle['ports'] %}
   {{ ifs }} {
     description "Uplink interface on LAG";
     ether-options {
        802.3ad {{ Uplink_Bundle['name'] }};
     }     
   }

{% endfor %}
}
