{% macro ether_options() -%}
     hold-time up 0 down 2000;
      ether-options {
        no-auto-negotiation;
        no-flow-control;
        link-mode half-duplex;
        speed {
          100m;
        }
      }
{%- endmacro %}


interfaces {

/* Management VLAN interfaces */
{% for ifs in PORTS_VLANS['Management'] %}
   {{ ifs }} {
      description "{{ PORTS_VLANS['Management'][ifs] }}";
      {{ ether_options() }}
      unit 0 {
        proxy-arp;
        family ethernet-switching {
          port-mode access;
          vlan {
            members Management;
          }
        }
      }
   }
{% endfor %}

/* HVAC interfaces */
{% for ifs in PORTS_VLANS['HVAC'] %}
   {{ ifs }} {
      description "{{ PORTS_VLANS['HVAC'][ifs] }}";
      {{ ether_options() }}
      unit 0 {
        proxy-arp;
        family ethernet-switching {
          port-mode access;
          vlan {
            members HVAC;
          }
        }
      }
   }
{% endfor %}

/* QSR interfaces */
{% for ifs in PORTS_VLANS['QSR'] %}
   {{ ifs }} {
      description "{{ PORTS_VLANS['QSR'][ifs] }}";
      {{ ether_options() }}
      unit 0 {
        proxy-arp;
        family ethernet-switching {
          port-mode access;
          vlan {
            members QSR;
          }
        }
      }
   }
{% endfor %}

/* wifi access-ports */
{% for ifs in PORTS_WIFI_AP %}
   {{ ifs }} {
      description "{{ PORTS_WIFI_AP[ifs] }}";
      {{ ether_options() }}
      unit 0 {
        proxy-arp;
        family ethernet-switching {
          port-mode trunk;
          native-vlan-id 2
          vlan {
            members all;
          }
        }
      }
   }
{% endfor %}

/* uplink ports */
{% for ifs in PORTS_UPLINK %}
   {{ ifs }} {
      description "{{ PORTS_UPLINK[ifs] }}";
      {{ ether_options() }}
      unit 0 {
        proxy-arp;
        family ethernet-switching {
          port-mode trunk;
          native-vlan-id 1
          vlan {
            members all;
          }
        }
      }
   }
{% endfor %}

}

