security {
  zones {
    security-zone DMZ {
      interfaces {
{% for ifd in DMZ_ports %}
{% set ifd_units = DMZ_ports[ifd] %}
{% for unit in ifd_units %}
{% if unit.s %}       
        {{ ifd }}.{{ unit.v }} {
           host-inbound-traffic {
             system-services {
{% for svc in unit.s %}
               {{ svc }};
{% endfor %}
             }
           }
        }
{% else %}
        {{ ifd }}.{{ unit.v }};
{% endif -%}
{% endfor %}
      } 
{% endfor %}
    }
  }
}
